node_modules
*.env
.vscode
APIKey.json
originalkey.json
.VSCodeCounter
memories.txt
pm2-config.json
pm2-warden.json
pm2-guardianai.json
package copy.json
*.sql
GuardianAI/prisma
package-lock.json
GuardianAI/bookofsentinel